.place__delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../../images/delete.svg);
    background-size: contain;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    top: 21px;
    right: 16px;
    border: none;
    cursor: pointer;
}

.place__delete:hover {
    opacity: .6;
    transition: opacity ease-out .3s;
}