.popup__input-error {
    visibility: hidden;
    max-width: 358px;
    height: 30px;
    color: rgba(255, 0, 0, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width: 999px) {
    .popup__input-error {
        max-width: 238px;
    }
}